/* Content First - Mobile First */
    /* General Rules */
    * {
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }
    /* Margins */ 
    body,
    h1,
    h2,
    h3,
    h4,
    header p,
    .menu,
    .container-card {
        margin: 0;
    }
    /* Paddings */
    .menu,
    .container-card {
        padding: 0;
    }

    .menu,
    .container-card {
        list-style: none;
    }
    nav a,
    header a,
    footer a {
        text-decoration: none;
    }
    /* Navitation */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: .5rem;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    }

    nav a {
        display: block;
        color: #eee;
        text-shadow: 0 0 .5rem #333;
    }

    nav .btn {
        font-size: 20px;
        color: #eee;
    }

    nav button:hover {
        box-shadow: 0 0 .5rem #333;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        list-style: none;
    }
    .menu.active {
        max-height: 640px;
    }
    /* Cabecera */
    #header {
        min-height: min(640px, 100vmin); /* viewport height */
        display: grid;
        align-items: center;
        align-content: center;
        text-align: center;
        color: #eee;
        background: #aaa url('assets/img/osx-sierra.jpg') center/cover;
        font-size: min(calc(2vw + .5rem), 3rem); /* viewport width */

        /* 
            min(a, b)
            a = calc(x + y)
        */

        text-shadow: 0 0 min(2vmin, 3rem) #333;
    }

    /* Contenido */
    .container-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax( min(100%, 300px), 1fr));

        /* 
            repeat(cantidad, tamaño)
            tamaño = minmax(min, max)
            min = min(a, b)
        */

        flex-wrap: wrap;
        gap: .5rem;
        padding: .5rem;
    }
    .card {
        border-radius: .25rem;
        padding: .5rem 1rem;
        background-color: #eee;
        box-shadow: 0 0 .5rem #333;
    }

    .card img {
        width: 100%;
    }
    .card-title {
        display: block;
        margin: -.5rem -1rem 1rem;
        border-radius: .25rem .25rem 0 0;
        padding: 1rem;
        background: #683;
        font-size: 1.5rem;
    }



/* Small devices - Smartphones */


/* Medium devices - Tablets */
@media screen and (min-width: 768px) {
    /* Navigation */
    nav .btn {
        display: none;
    }
    .menu {
        display: flex;
        width: auto;
        max-height: 640px;
    }
}

/* Large Devices -  Laptops */

/* XL Devices -  Desktop */
@media screen and (min-width: 1200px) {
    /* Navitation */
    nav {
        justify-content: space-around;
    }
    /* Cabecera */
    #header {
        background-image: url('assets/img/ubuntu-focalfossa.jpg');
    }
}

/* XXL Devices - HD-4k TV */
